$yellow: #FFFFFF;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    
    
    background-color: aqua;
}

footer{
    margin-top: 3em;
    padding-bottom: 6%;
    background-color:darkgrey;
    text-align: center;
}

.card-hotel{
    
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
}
.margen-arriba {
    margin-top: 39px;
}
